html{

  cursor: url("/images/Cursor.png"), auto;
  
  }
  
body {
    
  background-image: url("/images/bg.jpg");
  background-size: 100%;
  text-align: center;
  color:#fff;
  padding-top:10em;
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    
  }
  
  * { color:#fff; text-decoration: none;}
  
.container{
    
  background-image: linear-gradient(to bottom left, #fd7d49, #3f1f19);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 450px;
  top: 85px;
  width: 400px;
  height: 400px;
  padding: 50px;
  margin: 20px;
  opacity: 0.9;
  z-index: 0;
  
  border-radius: 20px;
  
  }
  
.h1{
  
  position: absolute;
  top: 275px;
  left: 500px;

}

  
canvas {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  }
  
.avatar {
  position: absolute;
  left: 500px;
  top: 130px;
  width: 150px;
  height: 150px;
  background-image: url("/images/avatar.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20%;
  
  }


.instagram-icon{
  
  background-image: url("/images/instagram.png");
  position: absolute;
  z-index: 1;
  left: 880px;
  top: 140px;
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
 
  
  transition: transform .2s;
  margin: 0 auto;

}
  
  .instagram-icon:hover {
    transform: scale(1.2);
  }
  

  
.spotify-icon{
  
  background-image: url("/images/spotify.png");
  position: absolute;
  z-index: 1;
  left: 880px;
  top: 220px;
  height: 50px;
  width: 50px;
  background-size: cover; 
  background-position: center; 
  border-radius: 50%; 


  
  transition: transform .2s;
  margin: 0 auto;

}
  
  .spotify-icon:hover {
    transform: scale(1.2);
  }

.luna-container {

  position: absolute;
  width: 100px; 
  height: 100px; 
  perspective: 1000px; 
  z-index: 1;
  left: 720px;
  top: 170px;
}


.luna-icon {
  width: 100%;
  height: 100%;
  background-image: url("/images/moon3.png"); 
  background-size: cover; 
  background-position: center; 
  position: absolute;
  bottom: 15px;
  left: 0;
  transition: transform 0.6s; 
  transform-style: preserve-3d; 
  z-index: 1;
}


.luna-container:hover .luna-icon {
  transform: rotateY(180deg); 
}


.luna-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  backface-visibility: hidden; 
  transform: rotateY(180deg); 
}




.discord{
  
  position: absolute;
  z-index: 1;
  left: 520px;
  top: 370px;
  
  }

.audio-button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 920px;
  bottom: 600px;
  cursor: url("/images/Cursor.png");
  background-size: cover; 
  background-position: center; 
  border-radius: 50%; 
  transition: opacity 0.3s ease, background-image 0.3s ease;
  animation: float 3s ease-in-out infinite;
  opacity: 0.7;
  background-color: #3f1f19;
  z-index: 1;
}

@keyframes float {
  0% {
      transform: translateY(0); 
  }
  50% {
      transform: translateY(-10px); 
  }
  100% {
      transform: translateY(0); 
  }
}



.audio-button:active {
  opacity: 0.8;
  cursor: url("/images/Cursor.png")
}

